
.form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .form label {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
  }
  
  .form input, select {
    margin-top: 5px;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form :focus, select:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .form button {
    margin-top: 15px;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .form button:hover {
    background-color: #0056b3;
  }
  .heading{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #007BFF;
    padding: 10px 0;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }
  .premiumBtn {
    background-color: #ffcc00;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  .premiumBtn:hover {
    background-color: #ff9900;
  }
  .lightTheme {
    background-color: white;
    color: black;
    
  }
  
  .darkTheme {
    background-color: #333;
    color: white;
    height: 100rem
  }
  
  .premiumBtn, .toggleThemeBtn, .downloadBtn {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 20%;
  }
  
  .premiumBtn {
    background-color: #ffcc00;
    color: white;
  }
  
  .toggleThemeBtn {
    background-color: #007bff;
    color: white;
  }
  
  .downloadBtn {
    background-color: #28a745;
    color: white;
  }