.main{
    border: none;
    height: 500px;
    margin-top: 10%;
    width: 70%;
    margin-left: 400px;
    background-color: antiquewhite;
    border-radius: 10px;
}
.inner h1{
    color: black;
    text-align: center;
    font-size: 100px;
}
.inner {
    text-align: center;
}
.inner input{
    margin: 40px 0;
    padding: 15px 100px;
}
.inner button{
    font-size: 25px;
    margin-top: 70px;
    border-radius: 5px;
    padding: 10px;
}