.main{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 15px;
}
.main div{
    font-size: 25px;
    font-style: italic;
}
.button{
    font-size: 30px;
    margin-top:70px;
    margin-left: 45%;
    cursor: pointer;
}